@{
    ViewData["Title"] = "Index";
}
<main>
<section  class="inicio">
<a href = '@Url.Action("Index", "Home")'> <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg></a>
<div>
    <h1>Music Store</h1>
    <h3>La mejor musica con los mejores discos de la historia</h3>
    <img src="~/img/logo.png">
</div>
</section>
<section  class="Menu">
<h2>Catalogo de discos</h2>
 @foreach (Disco disco in ViewBag.Empresa.Values){
        <div>
             <img src="~/img/@disco.foto">
            <pre>@disco.nombreDisco</pre>
             <pre>@disco.nombreArtista</pre>
              <pre>@disco.nombreGenero</pre>
               <pre>@disco.nombreProductor</pre>
        
            <a href='@Url.Action("MostrarDiscos", "Home", new {id = disco.id})' alt="Ver temas del disco">Ver temas del disco</a>

        </div>
    }
</section>
</main>
